body{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}


/* Marco general */
.qt-tabwidget {
    width: 650px;
    margin: 40px auto;
    border: 3px solid white;
    border-radius: 10px;
    background: #2b2b2b;
    position: relative;
}

/* TABS SUPERIORES */
.qt-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3a3a3a;
    border-bottom: 3px solid white;
    border-radius: 7px 7px 0 0;
}

.qt-tab {
    padding: 12px 25px;
    flex: 1;
    color: white;
    background: #333;
    border-right: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    transition: 0.25s;
}

.qt-tab:last-child {
    border-right: none;
}

/* TAB ACTIVO — azul igual a Qt */
.qt-tab.active {
    background: #2979ff;
}

/* CONTENEDOR */
.qt-content {
    padding: 20px;
    background: #1e1e1e;
    border-radius: 0 0 10px 10px;
}

/* PANEL DE CONTENIDO */
.qt-panel {
    display: none;
}

.qt-panel.active {
    display: block;
}

.sliders {
    width: 80%;
    margin: 1px auto 0 auto; /* centra y lo baja */
    display: flex;
    gap: 5px;
}

.sliders_lineales {
    width: 80%;
    margin: 1px auto 0 auto; /* centra y lo baja */
    display: flex;
    gap: 5px;
}
